@page "/Users"

@using eShopModel.Classes;
@using AuthCourseViews.Components.Modals;
@using AuthCourseViews.Components.Generic;
@using AuthCourseViews.Services.Repository;

@inject IDataRepository repoService;
@inject SweetAlertService swalService;

<div class="container-fluid">
	<div class="card mx-auto card-align">
		<div class="card-header card-header-primary">
			<h3 class="card-title pt-2 text-center">Productos</h3>
		</div>
		<div class="card-body">
			<h4 class="card-subtitle">Acciones</h4>
			<button class="btn btn-primary btn-lg ml-2 mt-2" type="button" data-bs-toggle="modal" data-bs-target="#productsEditModal">Insertar</button>
			<hr class="separator" />

			<div class="mt-2">
				<DataView Data="Usuarios">
					<Loading>
						<div class="container text-center">
							<img class="img-fluid" height="10%" width="10%" src="img/loading.gif" />
						</div>
					</Loading>
					<NoRecords>
						<h3>No hay registros para mostrar</h3>
					</NoRecords>
					<Content>

						<div class="table-responsive">
							<table class="table table-bordered table-sm table-hover">
								<thead>
									<tr>
										<th scope="col">Id</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var product in Usuarios)
									{
										<tr>
											<td>@product.Id</td>
		
											<td>
												<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productsEditModal">Editar</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</Content>
				</DataView>
			</div>

		</div>
		<div class="card-footer">
		</div>
	</div>
</div>

@code {

	private List<Usuario> Usuarios { get; set; } = new List<Usuario>();

}
